<section class="loginContainer">
    <div class="loginInner">
      <div class="login_header">
        <h2 class="login_logo">驾校</h2> 
        
      </div> 
      <div class="login_content">
        <form>
         
          <div class="on">
            <section>
              <section class="login_message">
                <input type="text" maxlength="11" placeholder="手机/邮箱/用户名">
              </section> 
              <section class="login_verification">
                <input type="password" maxlength="8" placeholder="密码"> 
                <div class="switch_button off off">
                  <div class="switch_circle"></div> 
                  <span class="switch_text">...</span>
                </div>
              </section> 
             
            </section>
          </div> 
          <button class="login_submit">登录</button>
        </form> 
        <a href="javascript:;" class="about_us">没账号去注册</a>
      </div> 
      <a href="javascript:" class="go_back">
        <i class="iconfont icon-arrow-left"></i>
      </a>
    </div>
  </section> 